<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinForm__baza_.Properties.Settings.importConnectionString"
            connectionString="Data Source=DESKTOP-SFOQ0JO\SQLEXPRESS;Initial Catalog=import;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>